
//Typography
$body-font: 'Roboto', sans-serif;
$heading-font: 'Poppins', sans-serif;
$franklin: 'Libre Franklin', sans-serif;
$bree: 'Bree Serif', serif;

//Color
$text: #3a3a3a;
$heading-text: #374a5e;
$border: #e0e0e0;
// $border-2: #dee2e6;
$light: #f7f9fb;
$light-2: #f8faff;
$light-3: #ecf3ff;

$white: #fff;
$black: #000;
// $bg-lighter: #f7f8fa;

$primary: #3c4cc6;
$secondary: #6b5ee1;

$alpha: #ff518b;
$beta: #54e4e4;
$gamma: #feaf3a;
$delta: #01d367;
$epsilon: #c656ff;
$zeta: #87929e;
$eta: #190475;
$theta: #1f2556;
$lota: #492cac;
$kappa: #030022;
$lambda: #fb3548;

//Color 
$color-1: #7025f5;
$color-2: #3a03db;
$color-3: #00d280;
$color-4: #182848;
$color-5: #4a0de3;
$color-6: #3e53f6;
$color-7: #3c04dc;
$color-8: #6961f5;
$color-9: #1a17aa;
$color-10: #e5fff8;
$color-11: #78b23a;
$color-12: #06f435;
$color-13: #78b23a;
$color-14: #effefb;
$color-15: #f37f07;
$color-16: #f7fffd;
$color-17: #d1edfb;
$color-18: #d9faec;
$color-19: #053f2e;
$color-20: #001564;
$color-21: #ffb661;
$color-22: #c6e6ff;
$color-23: #ffebed;

// Brand Color
$fb: #3b5998;
$tw: #1da1f2;
$ins: #f56040;
$in: #0077b5;
$be: #1769ff;
$dbl: #ea4c89;
