.t-text-light {
    color: $white;
}
.t-text-alpha {
    color: $alpha;
}
.t-text-beta {
    color: $beta;
}
.t-text-gamma {
    color: $gamma;
}
.t-text-delta {
    color: $delta;
}
.t-text-primary {
    color: $primary;
}
.t-text-heading {
    color: $heading-text;
}
.t-text-epsilon {
    color: $epsilon;
}
.t-text-color-3 {
    color: $color-3;
}
.t-text-color-11 {
    color: $color-11;
}
.t-text-color-15 {
    color: $color-15;
}
.t-text-color-8 {
    color: $color-8;
}
.t-fb {
    color: $fb;
}
.t-tw {
    color: $tw;
}
.t-ins {
    color: $ins;
}
.t-in {
    color: $in;
}
.t-be {
    color: $be;
}
.t-text-secondary {
    color: $secondary;
}
.t-text-zeta {
    color: $zeta;
}