//Margin Right
.t-mr-5 {
    margin-right: 5px;
}
.t-mr-8 {
    margin-right: 8px;
}
.t-mr-15 {
    margin-right: 15px;
}
.t-mr-16 {
    margin-right: 16px;
}
.t-mr-25 {
    margin-right: 25px;
}
.t-mr-30 {
    margin-right: 30px;
}
//Margin Bottom
.t-mb-5 {
    margin-bottom: 5px;
}
.t-mb-10 {
    margin-bottom: 10px;
}
.t-mb-15 {
    margin-bottom: 15px;
}
.t-mb-20 {
    margin-bottom: 20px;
}
.t-mb-30 {
    margin-bottom: 30px;
}
.t-mb-50 {
    margin-bottom: 50px;
}
.t-mb-60 {
    margin-bottom: 60px;
}
.t-mb-70 {
    margin-bottom: 70px;
}
.t-mb-80 {
    margin-bottom: 80px;
}
.t-mb-90 {
    margin-bottom: 90px;
}
.t-mb-120 {
    margin-bottom: 120px;
}
//Margin Bottom
.t-mt-5 {
    margin-top: 5px;
}
.t-mt-10 {
    margin-top: 10px;
}
.t-mt-15 {
    margin-top: 15px;
}
.t-mt-20 {
    margin-top: 20px;
}
.t-mt-25 {
    margin-top: 25px;
}
.t-mt-30 {
    margin-top: 30px;
}
.t-mt-45 {
    margin-top: 45px;
}
.t-mt-50 {
    margin-top: 50px;
}
.t-mt-55 {
    margin-top: 55px;
}
.t-mt-60 {
    margin-top: 60px;
}
.t-mt-70 {
    margin-top: 70px;
}
.t-mt-85 {
    margin-top: 85px;
}
.t-mt-90 {
    margin-top: 90px;
}
.t-mt-120 {
    margin-top: 120px;
    &-m {
        margin-top: -120px;
    }
}
//Margin Left
.t-ml-8 {
    margin-left: 8px;
}
.t-ml-15 {
    margin-left: 15px;
}
.t-ml-16 {
    margin-left: 16px;
}