.bttn {
    box-shadow: 0 5px 15px rgba($primary, 0.3);
    transition: all 0.3s ease;
    &:hover {
        box-shadow: 0 5px 20px rgba($primary, 0.7);
    }
    &-sm {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 12px;
    }
    &-xsm {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 12px;
    }
    &-md {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 14px;
        font-weight: 500;
    }
    &-lg {
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 40px;
        padding-right: 40px;
        font-size: 16px;
        font-weight: 500;
    }
    &-round {
        border-radius: 50px;
    }
    &-semi-round {
        border-radius: 10px 10px 0 10px;
    }
    &-rounded {
        border-radius: 100%;
        width: 54px;
        height: 54px;
        line-height: 54px;
        text-align: center;
    }
    &-color-3 {
        background-color: $color-3;
        transition: all 0.3s ease;
        color: $white;
        background-image: radial-gradient(
            circle,
            transparent 1%,
            darken($color-3, 8%) 1%
        );
        background-position: center;
        background-size: 15000%;
        &:hover {
            color: $white;
            background-color: $color-3;
            background-size: 100%;
        }
        &:active {
            background-color: $color-3;
            background-size: 15000%;
        }
        &-transparent {
            background-color: rgba($color-3, 0.1);
            transition: all 0.3s ease;
            color: $color-3;
            font-weight: 500;
        }
    }
    &-color-11 {
        background-color: $color-11;
        transition: all 0.3s ease;
        color: $white;
        background-image: radial-gradient(
            circle,
            transparent 1%,
            darken($color-11, 8%) 1%
        );
        background-position: center;
        background-size: 15000%;
        &:hover {
            color: $white;
            background-color: $color-11;
            background-size: 100%;
        }
        &:active {
            background-color: $color-11;
            background-size: 15000%;
        }
        &-transparent {
            background-color: transparent;
            transition: all 0.3s ease;
            color: $color-11;
            font-weight: 500;
        }
    }
    &-primary {
        background-color: $primary;
        transition: all 0.3s ease;
        color: $white;
        background-image: radial-gradient(
            circle,
            transparent 1%,
            darken($primary, 8%) 1%
        );
        background-position: center;
        background-size: 15000%;
        &:hover {
            color: $white;
            background-color: $primary;
            background-size: 100%;
        }
        &:active {
            background-color: $primary;
            background-size: 15000%;
        }
        &-transparent {
            background-color: rgba($primary, 0.1);
            transition: all 0.3s ease;
            color: $primary;
            font-weight: 500;
        }
    }
    &-beta {
        background-color: $beta;
        transition: all 0.3s ease;
        color: $white;
        background-image: radial-gradient(
            circle,
            transparent 1%,
            darken($beta, 8%) 1%
        );
        background-position: center;
        background-size: 15000%;
        &:hover {
            color: $white;
            background-color: $beta;
            background-size: 100%;
        }
        &:active {
            background-color: $beta;
            background-size: 15000%;
        }
        &-transparent {
            background-color: rgba($beta, 0.1);
            transition: all 0.3s ease;
            color: $beta;
            font-weight: 500;
            &:hover {
                background-color: $beta;
                color: $white;
            }
        }
    }
    &-gamma {
        background-color: $gamma;
        transition: all 0.3s ease;
        color: $white;
        background-image: radial-gradient(
            circle,
            transparent 1%,
            darken($gamma, 8%) 1%
        );
        background-position: center;
        background-size: 15000%;
        &:hover {
            color: $white;
            background-color: $gamma;
            background-size: 100%;
        }
        &:active {
            background-color: $gamma;
            background-size: 15000%;
        }
        &-transparent {
            background-color: rgba($gamma, 0.1);
            transition: all 0.3s ease;
            color: $gamma;
            font-weight: 500;
            &:hover {
                background-color: $gamma;
                color: $white;
            }
        }
    }
    &-alpha {
        background-color: $alpha;
        transition: all 0.3s ease;
        color: $white;
        background-image: radial-gradient(
            circle,
            transparent 1%,
            darken($alpha, 8%) 1%
        );
        background-position: center;
        background-size: 15000%;
        &:hover {
            color: $white;
            background-color: $alpha;
            background-size: 100%;
        }
        &:active {
            background-color: $alpha;
            background-size: 15000%;
        }
        &-transparent {
            background-color: rgba($alpha, 0.1);
            transition: all 0.3s ease;
            color: $alpha;
            font-weight: 500;
            &:hover {
                background-color: $alpha;
                color: $white;
            }
        }
        &-outline {
            color: $alpha;
            border-color: $alpha;
            &:hover {
                color: #fff;
                background-color: $alpha;
                border-color: $alpha;
            }
        }
    }
    &-epsilon {
        background-color: $epsilon;
        transition: all 0.3s ease;
        color: $white;
        background-image: radial-gradient(
            circle,
            transparent 1%,
            darken($epsilon, 8%) 1%
        );
        background-position: center;
        background-size: 15000%;
        &:hover {
            color: $white;
            background-color: $epsilon;
            background-size: 100%;
        }
        &:active {
            background-color: $epsilon;
            background-size: 15000%;
        }
        &-transparent {
            background-color: rgba($epsilon, 0.1);
            transition: all 0.3s ease;
            color: $epsilon;
            font-weight: 500;
            &:hover {
                background-color: $epsilon;
                color: $white;
            }
        }
    }
    &-secondary {
        background-color: $secondary;
        transition: all 0.3s ease;
        color: $white;
        background-image: radial-gradient(
            circle,
            transparent 1%,
            darken($secondary, 8%) 1%
        );
        background-position: center;
        background-size: 15000%;
        &:hover {
            color: $white;
            background-color: $secondary;
            background-size: 100%;
        }
        &:active {
            background-color: $secondary;
            background-size: 15000%;
        }
        &-transparent {
            background-color: rgba($secondary, 0.1);
            transition: all 0.3s ease;
            color: $epsilon;
            font-weight: 500;
            &:hover {
                background-color: $secondary;
                color: $white;
            }
        }
    }
    &-light {
        background-color: $white;
        color: $heading-text;
        &:hover {
            background: $white;
            color: $heading-text;
        }
        &.active {
            background: $heading-text;
            color: $white;
        }
        &-alt {
            background-color: $white;
            color: $alpha;
            &:hover {
                background: $white;
            }
            &.active {
                background: $alpha;
                color: $white;
            }
        }
        &-delta {
            background-color: $white;
            color: $delta;
            &:hover {
                background: $white;
                color: $delta;
            }
            &.active {
                background: $delta;
                color: $white;
            }
        }
    }
    &-video {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 60px;
        font-size: 24px;
        line-height: 1;
        animation: bttn-video 2s infinite;
        transition: all 0.2s ease;
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    &-color-3-outline {
        border: 1px solid $color-3;
        color: $white;
        &:hover {
            background: $color-3;
            color: $white;
        }
    }
    &-color-11-outline {
        border: 1px solid $color-11;
        // color: $white;
        &:hover {
            background: $color-11;
            color: $white;
        }
    }
}
