.contact-form {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0 5px 10px rgba($primary, 0.15);
    z-index: 1;
    &--element {
        position: relative;
        &::after {
            @include xliv-screen {
                content: url(../img/contact-img-1.png);
                position: absolute;
                left: -180px;
                bottom: -100px;
            }
        }
        &::before {
            @include xliv-screen {
                content: url(../img/contact-img-2.png);
                position: absolute;
                right: -180px;
                bottom: -70px;
            }
        }
    }
    
    @include lg-screen {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
