.counter-card {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 3px;
    &__icon-box {
        width: 60px;
        min-width: 60px;
        height: 60px;
        line-height: 60px;
        border-radius: 100%;
        text-align: center;
    }
    &__icon {
        width: 100%;
        height: 100%;
        font-size: 30px;
    }
}