.zl-feed-nav {
    padding: 30px 15px;
    box-shadow: 0 30px 80px 0 rgba($color-9, .2);
    @include lg-screen {
        padding: 50px 40px;
    }
    &__item {
        &:focus {
            outline: none;
        }
    }
    .slick-arrow {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid $color-8;
        background: transparent;
        color: $color-8;
        transition: all .3s ease;
        position: absolute;
        right: 0;
        z-index: 90;
        &:hover {
            border: 2px solid $color-3;
            color: $color-3;
        }
    }
    .slick-next {
        bottom: 0;
    }
    .slick-prev {
        bottom: 55px;
    }
}