.zl-mega-menu-2 {
    @extend .zl-mega-menu-1;
    @include lg-screen {
        max-height: initial;
        overflow-y: initial;
        padding: 15px;
        &::after {
            left: 74.5%;
        }
    }
    @include xli-screen {
        padding: 30px;
    }
    &__list {
        @extend .zl-mega-menu-1__list;
        @include lg-screen {
            width: 75%;
        }
        &-item {
            width: 100%;
            @include lg-screen {
                width: 50%;
            }
            @include xli-screen {
                width: 33%;
            }
        }
    }
    &__content {
        @include lg-screen {
            width: 24%;
        }
    }
}
