.welcome-section {
    position: relative;
    padding-top: 100px;
    @include md-screen {
        padding-top: 150px;
    }
    &__input {
        height: 42px;
        line-height: 40px;
        border: solid 1px #e8e8e8;
        border-radius: 5px;
        font-size: 14px;
    }
    
}